POSTGRES_DB=cosma
POSTGRES_USER=cosma_user
POSTGRES_PASSWORD=your_password_here
POSTGRES_PORT=5432

// JWT configuration
JWT_KEY=PON_UNA_CLAVE_SECRETA_PARA_FIRMAR_LOS_JWT
JWT_ISSUER=CosmaAPI
JWT_AUDIENCE=CosmaAPIClient
JWT_EXPIRATION_MINUTES=60

// Generacion de datos, DEV_SEED_ENABLED: Habilita o deshabilita la generación de datos de prueba al iniciar la aplicación,
// DEV_SEED_EXPENSE_COUNT: Número de gastos de prueba a generar, DEV_SEED_RESET_EXISTING: Si se establece en true, eliminará los datos existentes antes de generar nuevos datos de prueba.
DEV_SEED_ENABLED=false
DEV_SEED_EXPENSE_COUNT=1000
DEV_SEED_RESET_EXISTING=false